@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #000000;
} */


@theme inline {
  --color-primary: #0066ff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Offset for your fixed Navbar */
section[id], 
div[id] {
  scroll-margin-top: 100px; /* Adjust this to match your Navbar height */
}