@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #000000;
} */


@theme inline {
  --color-primary: #0066ff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --font-press-start: 'Press Start 2P', system-ui;
  --font-roboto-mono: 'Roboto Mono', monospace;
}